@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.gon{
    text-align: center;
    width: 100%;
    &__header{
        @include flex(center, center, column);
        background-color: #525558;
        min-height: 100vh;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    &__btn-plus{
        @include size(200px);
        background-color: #525558;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        @include text($H500, white);
        box-shadow: 0px 0px 20px 15px rgb(72, 75, 78);
        margin-bottom: 20px;
        outline: none;
        &:hover{
            box-shadow: 0px 0px 10px 7px rgb(72, 75, 78);
            @include transition(all);
        }
        &:active{
            box-shadow: inset 0px 0px 10px 7px rgb(72, 75, 78);
        }
    }
    &__btn-reset{
        background-color: #525558;
        cursor: pointer;
        outline: none;
        color: red;
    }
    &__resault-number{
        @include text($H400);
        
    }
}